header ul li:nth-child(4){
  color: #D14200;
}
.meals{
  display: flex;
  flex-direction: column;
}
.meal{
  display: flex;
}
.meals > h1{
  margin-bottom: 1em;
  font-weight: 500;
}
.meals p{
  font-size: 1.5em;
}
.meals .left{
  width: 50%;
  text-align: center;
  padding: 4em 0;
  background-color: #e7e5d0;
}
.meals .left>img{
  width: 80%;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 5vh 0;
  border-radius: 10px;
  box-shadow: 0 9px 0 rgb(0 0 0 /0.15);
}
.forms{
  width: 30%;
}
input{
  display: block;
  width: 75%;
  padding: 2vh 5%;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0.5em 0;
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
  color: rgb(72, 72, 72) ;
}
button{
  width: 85%;
  padding: 2vh 0;
  font-size: 1em;
  background-color: hsl(154, 59%, 51%);
  border: 0;
  border-radius: 5px;
  box-shadow: 0 5px 0 hsl(154, 56%, 42%);
  color: white;
  margin: 0.5em 0;
}
button:hover{
  background-color: hsl(154, 55%, 63%);
}
.term{
  width: 70%;
  font-size: 0.75em;
  color:  hsl(246, 25%, 77%);
}
.term strong{
  color: hsl(0, 100%, 74%);
}
.red-box{
  background: url(./images/icon-error.svg) no-repeat 95% 50%;
  border: 3px solid hsl(0, 100%, 74%);
}
.red-text{
  color: hsl(0, 100%, 74%);
  width: 85%;
  text-align: right;
  font-style: italic;
  margin-bottom: 0.5em;
  display: none;
}